
.cart-drawer {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    transition: opacity 0.3s ease;
}

.cart-drawer-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.cart-drawer-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 592px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    padding: 0 18px;
}
.cart-drawer.active .cart-drawer-content {
    transform: translateX(0);
}
.cart-drawer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-item-wrapper {
    display: flex;
}
.cart-item-wrapper img {
    flex: 0 0 auto;
    width: 103px;
    height: 103px;
    aspect-ratio: 1 /1;
}