.dropbtn {
  color: #925733;
  padding: 16px 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 8px 0 8px 21px;
  transition: all ease .25s;
  min-width: 285px;
  text-align: start;
  padding-left: 21px;
  position: relative;
  z-index: 2;
}
.dropbtn:hover {
  /* background-color: #925733;
  color: #F2F1DC; */
}
.dropbtn span {
  font-size: 16px;
  line-height: 30px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #925733;
  min-width: 285px;
  z-index: 1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 46px 30px 25px 8px;
  top: 0;
  z-index: 1;
}
/* .dropdown:hover .dropdown-content {
  display: block;
} */
/* .dropdown-content-text {
  color: #f2f1dc;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 27px;
  margin: 0;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
} */
hr {
  margin: 0;
  border: 1px solid #4d362a;
}
.second-filter-line {
  margin-top: 24px;
}
.checkbox-btns-wrapper {
  /* display: flex;
  align-items: center; */

  padding-left: 27px;
}
.checkbox-btns-wrapper .checkbox-btn {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  color: #f2f1dc;
  margin: 13px 0 4px 0;
  cursor: pointer;
}
.checkbox-container input {
  display: none; /* Hide default checkbox */
}
.checkbox-container {
  display: flex;
  align-items: center;
  gap: 11px;
  width: 100%;
  margin-bottom: 12px;
}
.checkbox-container span {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #f2f1dc;
  text-decoration: none;
}
.checkbox-custom {
  width: 24px;
  height: 24px;
  border: 2px solid #f2f1dc;
  border-radius: 50%;
  display: block;
  position: relative;
}

.checkbox-container input:checked + .checkbox-custom::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #f2f1dc;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.open-dropdown-content {
  /* background-color: #925733; */
  color: #F2F1DC;
  /* min-width: 285px; */
}
.open-dropdown-content .arrow-right {
  display: none;
}
.arrow-down {
  display: none;
}
.open-dropdown-content .arrow-down {
  display: inline-block;
}
.open-dropdown-content .plus-sign-img{
  display: inline-block;
}
.plus-sign-img {
  display: none;
}
.open-dropdown-content .minus-sign-img {
  display: none;
}