.custom-main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.header-navigation-item a {
  color: #325731;
  text-decoration: none;
  font-size: 18px;
}
.custom-mega-menu-wrapper {

}
.custom-mega-menu-inner-wrapper {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.header-navigation-hover-group {
  /* position: relative; */
}
.mega-menu-items-wrapper {
  
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  opacity: 0;
  visibility: hidden;
  /* z-index: -1; */
}
.mega-menu-items-inner-wrapper {
  max-width: 1400px;
  padding: 0 50px;
  margin: auto;
  display: flex;
  gap: 1.3%;
  padding: 30px;
}
.custom-main-nav .mega-menu-items-wrapper.show {
  opacity: 1;
  visibility: visible;
  z-index: 1;
  top: 70%;
}
.menu-heading {
  font-size: 20px;
  font-weight: 600;
  margin: 30px 0 0 0;
}

.mega-menu-item ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}
.header-navigation-item a {
  line-height: 40px;
  padding: 0 10px;
  display: block;
  text-decoration: none;
  color: #325731;
  font-size: 18px;
}
.mega-menu-item ul li {
  border-bottom: 1px solid #2bf926;
}
.mega-menu-item ul li:last-child {
  border-bottom: none;
}
.mega-menu-item ul li a {
  padding: 0;
}
.mega-menu-collection img {
  border-radius: 20px;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.mega-menu-collection .menu-collection-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #5fcc5c;
}


