@font-face {
  font-family: "Intro Head B Base";
  src: url({{ 'https://cdn.shopify.com/s/files/1/0646/8360/6086/files/IntroHeadB-Base.woff?v=1741242052' | file_url }}) format("woff");
}
@font-face {
  font-family: "Nexa Rust Sans";
  src: url({{ 'https://cdn.shopify.com/s/files/1/0646/8360/6086/files/NexaRustSans-Black.woff?v=1741242090' | file_url }}) format("woff");
}
@font-face {
  font-family: 'Nexa Rust Sans Book 01';
  src: url({{ 'https://cdn.shopify.com/s/files/1/0646/8360/6086/files/NexaRustSans-Book01.woff?v=1741242123' | file_url }}) format("woff");
}
/* Best Selling Products */
.best-selling-products-wrapper {
    max-width: 1345px;
    margin: auto;
}
.best-selling-products-wrapper h2 {
    text-align: center;
}
/* tabs */
/* Style the tab */
.tab {
    overflow: hidden;
    text-align: center;
  }
.buy-btn {
    font-family: 'Nexa Rust Sans';
    font-size: 15px;
    font-weight: 900;
    width: 254px;
    line-height: 59px;
    background-color: #4D362A;
    display: block;
    color: #fff;
    text-align: center;
    border-radius: 29.5px;
    margin:auto;
    margin-top: 38px;
    text-decoration: none;
}
  /* Style the buttons inside the tab */
  .tab button {
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Nexa Rust Sans Book 01";
    font-size: 22px;
    font-weight: 400;
    color: #4D362A;
    line-height: 26.66px; 
    padding: 0 18px;
    background-color: transparent;
    margin: 44px 0 62px 0;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    color: #925833;
    text-decoration: underline;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    color: #925833;
    text-decoration: underline;
  }
  
  /* Style the tab content */
  .producttabcontent {
    display: none;
  }
.swiper-slide {
  width: auto;
}
.swiper-slide {
    text-align: center;
}
.swiper-slide img{
    width: 100%;
    height: auto;
    background-color: #F2F1DC;
    border-radius: 10px;
    padding: 5px 0;
}
.product-type {
    font-family: 'Nexa Rust Sans Book 01';
    font-size: 15px;
    font-weight: 400;
    line-height: 18px; 
    color:black;
    margin-bottom: 12px;
    margin-top: 14px;
}
.product-title {
    font-size: 22px;
    font-weight: 400;
    color:black;
    line-height: 26.66px; 
}
.swiper-pagination-bullet-active {
    background-color: #4D362A !important;
    width: 24px !important;
    border-radius: 7px !important;
}
.product-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}
.product-image-wrapper img {
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease-in-out;
}
.image-hover {
  opacity: 0;
  position: absolute;
}
.product-image-wrapper:hover .product-image {
  opacity: 0;
}
.product-image-wrapper:hover .image-hover {
  opacity: 1;
}